a {
  color: #0e9ce0;
}
span:lang(ja) {
  font-family: sans-serif;
}
span:lang(cn) {
  font-family: sans-serif;
}
.temp > li > a {
  display: inline;
  padding: 0px 15px !important;
}
.temp > li > a:hover,
.temp > li > a:focus {
  text-decoration: underline;
  background-color: transparent;
}
.temp > li.disabled > a:hover,
.temp > li.disabled > a:focus {
  text-decoration: underline;
  background-color: transparent;
}
