---

---

<footer class='mx-auto w-full'>
  <div class='mt-0 py-8'>
    <div class='border-t border-[hsl(var(--accent))] border-border pb-4 pt-10'>
      <div class='flex flex-col items-center justify-between gap-y-3'>
        <div class='flex gap-x-4 pl-8 pr-8 text-sm'>
          <p>
            Questions? Contact us at <a
              href='mailto:symposium.approximateinference@gmail.com'
              class='underline'>this email address</a
            >.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
