---

---

<footer class='mx-auto mt-24 w-full'>
  <div class='border-t border-border pb-10 pt-10'>
    <div class='flex flex-col items-center justify-between gap-y-3'>
      <div class='flex gap-x-4 text-sm'>
        <p class=''>
          Questions? Contact us at <a
            href='mailto:symposium.approximateinference@gmail.com'
            >symposium.approximateinference@gmail.com</a
          >.
        </p>
      </div>
    </div>
  </div>
</footer>
