---
import PageLayout from "@/layouts/BaseLayout.astro";

const meta = {
  description: "Not found",
  title: "404",
};
---

<PageLayout meta={meta}>
  <div class='px-4 py-10 text-center sm:px-6 lg:px-8'>
    <h1 class='block text-7xl font-bold sm:text-9xl'>404</h1>
    <p class='mt-3 text-muted-foreground'>Oops, something went wrong.</p>
    <p class=''>Sorry, we couldn't find your page.</p>
  </div>
</PageLayout>
