---
import { Content } from "../contents/index.md";
import BaseLayout from "@/layouts/BaseLayout.astro";
import ContentLayout from "@/layouts/ContentLayout.astro";
import PeopleList from "@/components/PeopleList.astro";

import invited_speakers from "../assets/invited_speakers.json";
import organizers from "../assets/organizers.json";
import advisors from "../assets/advisors.json";
---

<BaseLayout title='Home'>
  <ContentLayout>
    <Content />
  </ContentLayout>

  <!-- <div class='mt-10'> -->
  <!--   <PeopleList -->
  <!--     title='Invited Speakers' -->
  <!--     people={invited_speakers} -->
  <!--     bgcolor='bg-navyblue-800 text-white' -->
  <!--   /> -->
  <!-- </div> -->

  <PeopleList
    title='Organizers'
    people={organizers}
    bgcolor='bg-navyblue-500 text-white'
  />

  <PeopleList
    title='Advisory Committee'
    people={advisors}
    bgcolor='bg-navyblue-400 text-white'
  />
</BaseLayout>
