---
interface Props {
  imagePath: string;
  altText?: string;
  fullWidth?: boolean;
}

const { imagePath, altText = "", fullWidth = false } = Astro.props;
---

<figure class='sm:text-center'>
  <img
    src={imagePath}
    alt={altText}
    class:list={[fullWidth ? "" : "sm:size-1/2", "mx-auto", "drop-shadow"]}
  />
  {
    altText && (
      <figcaption>
        <span class='font-extrabold'>Fig.</span> &nbsp; {altText}
      </figcaption>
    )
  }
</figure>
