---
import type { Paper, Author } from "@/utils";

const { papers } = Astro.props;
---

<div class='overflow-x-auto'>
  <table class='w-full min-w-full table-auto'>
    <thead>
      <tr>
        <th><strong>No.</strong></th>
        <th><strong>Remark</strong></th>
        <th><strong>Paper</strong></th>
      </tr>
    </thead>
    <tbody>
      {
        papers.map((paper: Paper, idx: number) => (
          <tr>
            <td>{idx + 1}</td>
            <td>{paper.decision}</td>
            <td>
              <div>
                <a href={paper.paper_url}>{paper.title}</a>
              </div>
              {paper.authors.map((author: Author) => author.name).join(", ")}
            </td>
          </tr>
        ))
      }
      <tr></tr>
    </tbody>
  </table>
</div>
