---
import type { SiteMeta } from "@/types";

import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";

import { siteConfig } from "@/site-config";

interface Props {
  meta: SiteMeta;
}

const {
  meta: { title },
} = Astro.props;
---

<html lang={siteConfig.lang} class=''>
  <head>
    <BaseHead title={title} />
  </head>

  <body class='flex justify-center bg-background'>
    <ThemeProvider />

    <div class='flex min-h-screen w-screen flex-col items-center font-sans'>
      <Header />

      <div class='relative max-w-[55rem] pb-10'>
        <div
          class="absolute inset-0 bg-[url('/images/bdl.svg')] bg-cover bg-bottom opacity-10 grayscale dark:invert"
        >
        </div>
        <div class='relative z-10 mx-auto mt-24 text-center'>
          <h1 class='text-5xl font-bold'>AABI 2025</h1>
          <h2 class='text-xl font-semibold'>
            7th Symposium on Advances of Approximate Bayesian Inference
          </h2>
          <p class='text-lg'>When: TBA</p>
          <p class='text-lg'>Where: TBA (TBA)</p>
        </div>
      </div>

      <main
        class='relative max-w-[55rem] px-6 pb-5 pt-10 leading-relaxed sm:px-10 lg:px-10'
      >
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
