---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import { siteConfig } from "@/site-config";

const { title } = Astro.props;
---

<html lang={siteConfig.lang} class=''>
  <head>
    <BaseHead title={title} />
  </head>

  <body class='m-auto flex max-w-[50rem] justify-center bg-background'>
    <ThemeProvider />

    <div class='flex min-h-screen w-full flex-col items-center font-sans'>
      <Header />

      <div class='relative w-full pb-10'>
        <div
          class="absolute inset-0 bg-[url('/images/singapore_smaller.jpg')] bg-cover bg-center opacity-100 blur-[0px] dark:opacity-100"
        >
        </div>
        <div
          class='text-shadow-sm relative z-10 mx-auto my-10 px-5 pt-10 text-center font-display text-white text-shadow-blur-xl'
        >
          <h1 class='text-5xl font-bold'><a href='/'>AABI 2025</a></h1>
          <h2 class='text-xl font-semibold'>
            7th Symposium on Advances of Approximate Bayesian Inference
          </h2>
          <p class='text-lg'>Co-located with ICLR 2025 in Singapore</p>
          <p class='text-lg'>Tuesday, 29 April 2025</p>
        </div>
      </div>

      <main class='relative w-full pb-0 pt-10 leading-relaxed'>
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
