---
import type { SiteMeta } from "@/types";

import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";

import { siteConfig } from "@/site-config";

interface Props {
  meta: SiteMeta;
}

const {
  meta: { title },
} = Astro.props;
---

<html lang={siteConfig.lang} class=''>
  <head>
    <BaseHead title={title} />
  </head>

  <body class='flex justify-center bg-background'>
    <ThemeProvider />
    <div class='flex min-h-screen w-screen flex-col items-center font-sans'>
      <Header />
      <main
        class='relative max-w-[55rem] px-6 pb-5 pt-10 leading-relaxed sm:px-10 lg:px-10'
      >
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
