---
import PageLayout from "@/layouts/BaseLayout.astro";
import PublicationList from "@/components/PublicationList.astro";
import Section from "@/components/Section.astro";
import { sortPublicationFn } from "@/utils";
import type { Publication } from "@/utils";

interface Props {
  publications: Publication[];
}

import publications from "../../assets/publications.json";
const sortedPublications = publications.sort(sortPublicationFn);
---

<PageLayout meta={{ title: "Publications" }}>
  <div class='w-full'>
    <!-- <TOC headings={} /> -->

    <h1 class='mb-6 mt-5 text-2xl font-bold'>Publication List</h1>

    <Section title='Thesis' class='sm:pt-8'>
      <div class='flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0'>
        <div class='w-full flex-wrap gap-x-4 gap-y-2'>
          <PublicationList
            publications={sortedPublications.filter((pub) => pub.type == "thesis")}
          />
        </div>
      </div>
    </Section>

    <Section title='Conference' class='pt-12'>
      <div class='flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0'>
        <div class='w-full flex-wrap gap-x-4 gap-y-2'>
          <PublicationList
            publications={sortedPublications.filter((pub) => pub.type == "conference")}
          />
        </div>
      </div>
    </Section>

    <Section title='Journal' class='pt-12'>
      <div class='flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0'>
        <div class='w-full flex-wrap gap-x-4 gap-y-2'>
          <PublicationList
            publications={sortedPublications.filter((pub) => pub.type == "journal")}
          />
        </div>
      </div>
    </Section>

    <Section title='Workshop' class='pt-12'>
      <div class='flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0'>
        <div class='w-full flex-wrap gap-x-4 gap-y-2'>
          <PublicationList
            publications={sortedPublications.filter((pub) => pub.type == "workshop")}
          />
        </div>
      </div>
    </Section>

    <Section title='Preprint' class='pt-12'>
      <div class='flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0'>
        <div class='w-full flex-wrap gap-x-4 gap-y-2'>
          <PublicationList
            publications={sortedPublications.filter((pub) => pub.type == "preprint")}
          />
        </div>
      </div>
    </Section>
  </div>
</PageLayout>
